.Game {
  display: flex;
  flex-direction: column;
  height: 390px;
}

.Game .Row {
  display: flex;
  height: 100%;
}

.Game .Row .Cell {
  display: flex;
  width: 100%;
  margin: 3px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 10px #bebebe;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.Game .Row .Cell.empty {
  box-shadow: none;
  border: 1px solid #ffffff00;
  background-color: #ffffff00;
}
.Game .Row .Cell.correct {
  box-shadow: 3px 3px 10px #379424;
  border: 1px solid green;
}

.Game .Row .Cell.rotation-left span {
  transform: rotate(-90deg);
}
.Game .Row .Cell.rotation-right span {
  transform: rotate(90deg);
}
.Game .Row .Cell.rotation-bottom span {
  transform: rotate(180deg);
}

.Game .Row .Cell span {
  margin: auto;
  font-size: 1.4rem;
  font-weight: 100;
}
