.Game {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  height: 390px;
}

.Game .Row {
  display: flex;
  height: 100%;
}

.Game .Row .Cell {
  display: flex;
  width: 100%;
  margin: 3px;
  border-radius: 5px;
  background-color: white;
  /* border: 1px solid grey; */
  box-shadow: 3px 3px 10px #bebebe;
  /* transition: transform 0.5s ease-in-out; */
}

.Game .Row .Cell.empty {
  box-shadow: none;
  /* border: none; */
  background-color: #ffffff00;
}

.Game .Row .Cell.rotation-left span {
  transform: rotate(-90deg);
}
.Game .Row .Cell.rotation-right span {
  transform: rotate(90deg);
}
.Game .Row .Cell.rotation-bottom span {
  transform: rotate(180deg);
}

/* .Game .Row .Cell.left {
  transform: translateX(-94.5px);
}
.Game .Row .Cell.right {
  transform: translateX(+94.5px);
}
.Game .Row .Cell.top {
  transform: translateY(-94.5px);
}
.Game .Row .Cell.bottom {
  transform: translateY(94.5px);
} */

.Game .Row .Cell span {
  margin: auto;
  font-size: 1.4rem;
  font-weight: 100;
  /* transition: all 0.5s ease-in-out; */
}
