.Controls {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.Controls h1 {
  margin: 0 0 10px;
}

.Controls button {
  width: 100%;
  margin: 1rem 3px;
  padding: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 20px 20px 50px #bebebe, -20px -20px 50px #ffffff;
  border: 1px solid grey;
  transition: all 0.5s ease-in-out;
}
.Controls button:active {
  background-color: #575757;
}

.Controls .Buttons {
  display: flex;
}

.Controls button.CTA {
  animation: pulse 1s infinite;
  z-index: 1;
}
.Controls button.Selected {
  background-color: rgb(210, 210, 210);
  box-shadow: 20px 20px 50px #858585, -20px -20px 50px #ffffff;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 68, 0, 0.541);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 68, 0, 0);
  }
}
