.App .Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000088;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .Overlay .Overlay-Text {
  font-size: 4rem;
  color: greenyellow;
}

.App .Overlay .Results {
  background-color: #00000088;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
}
